name: Github Actions Test

on:
  push:

jobs:

  job-a:
    runs-on: ubuntu-latest
    if: ${{ false }}

    steps:
      - name: Debug
        run: |
          echo "Step 1"

  job-b:
    needs: [ job-a ]
    runs-on: ubuntu-latest

    steps:
      - name: Debug
        run: |
          echo "needs: ${{ toJson(needs) }}"
