name: Github Actions Test

on:
  push:
  workflow_dispatch:
    inputs:
      live:
        description: "Live mode"
        type: boolean
        default: false

env:
  DRY_RUN: true

jobs:

  discover:
    name: Discover
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Live detect
        id: live-detect
        run: |
          INPUT_LIVE="${{ github.event.inputs.live || false }}"

          if [[ "$GITHUB_REF" =~ ^refs/tags/ ]]; then
            LIVE=true
            REASON="tag"
          elif [[ "$GITHUB_REF" == "refs/heads/main" ]]; then
            if [[ "$INPUT_LIVE" == "true" ]]; then
              LIVE=true
              REASON="requested"
            else
              LIVE=false
              REASON "not requested"
            fi
          else
            LIVE=false
            REASON="not on main branch"
          fi
          
          echo "live=$LIVE" >> $GITHUB_OUTPUT
          echo "::notice::Trigger ref: $GITHUB_REF, live mode: $LIVE ($REASON)"

      - name: Tag & SHA detect
        run: |
          TAG=$(git describe --tags --abbrev=0) # find latest tag
          SHA=$(git rev-list -n 1 "$TAG")
          VERSION="${TAG#v}"

          echo "tag=$TAG" >> "$GITHUB_OUTPUT"
          echo "sha=$SHA" >> "$GITHUB_OUTPUT"
          echo "version=$VERSION" >> "$GITHUB_OUTPUT"

          echo "::notice::Target tag: $TAG, target SHA: $SHA"

          echo "Repository:    $GITHUB_REPOSITORY"
          echo "Workflow name: $GITHUB_WORKFLOW"
          echo "Workflow file: $GITHUB_WORKFLOW_REF"

