name: Github Actions Test

on:
  push:

jobs:

  job-a:
    runs-on: ubuntu-latest
    if: ${{ true }}

    steps:
      - name: Debug
        run: |
          echo "Step 1"

      - name: Fail
        run: |
          echo "Fail"
          exit 1

  job-b:
    needs: [ job-a ]
    if: ${{ always() && needs.job-a.result != 'failed' }}
    runs-on: ubuntu-latest

    steps:
      - name: Debug
        run: |
          echo "needs: ${{ toJson(needs) }}"
