name: Github Actions Test

on:
  push:

env:
  DRY_RUN: true

jobs:

  job-a:
    runs-on: ubuntu-latest
    if: ${{ env.DRY_RUN == 'true' }}

    steps:
      - name: Debug
        run: |
          echo "Step 1"

#      - name: Fail
#        run: |
#          echo "Fail"
#          exit 1

  job-b:
    needs: [ job-a ]
    if: ${{ always() && (needs.job-a.result == 'success' || needs.job-a.result == 'skipped') }}
    runs-on: ubuntu-latest

    steps:
      - name: Debug
        run: |
          echo "needs: ${{ toJson(needs) }}"
